.project-title{
    color:blue;
    font-weight: bold;
}
.flex{
    display: flex;
}
.text-sm{
    font-size: small;
}
.space-b{
    justify-content: space-between;
}
.justi{
    text-align: justify;
}
hr{
    width: calc(100% - 40px);
    color: darkcyan;
    border: 1px solid darkcyan;
}

button{
    position: absolute;

}




#toggle {
    width: 90px;
    height: 36px;
    position: absolute;
    cursor: pointer;
    #moon, #sun{
        width: 45px;
        transform: rotate(180deg);
        position: absolute;
        top: 0;
        translate: 27px 41px;
    }
    #lamp{
        width: 100px;
        z-index: 3;
        position: absolute;
        top: 0;
    }
    
    
  }
  



.float{
    display: flex;
    justify-content: center;
    align-items: center;
    position:fixed;
    width:40px;
    height:40px;
    z-index:100;
    bottom:40px;
    right:40px;
    background-color:rgb(5, 5, 159);
    border-radius:50px;
    text-align:center;
    box-shadow: 1px 1px 5px #000000;
}



.resume-part-light{
    display: flex;
    justify-content: center;
    overflow-y: scroll;
    background-image: url('https://cdn.pixabay.com/photo/2016/07/30/20/52/vintage-1557993_1280.jpg');
    // font-size: xx-small;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
 

    h2{
        color: darkcyan;
    }


    
    p{
        margin: 1px auto;
    }
    
    @media (width<1000px) {
        font-size: medium;
    
    }
    
    .container{
        position: relative;
        background-color:white;
        margin: 100px;
        max-width: 1000px;
        border: none;
        
        box-shadow: -18px 18px 10px 2px rgba(0, 0, 0, 0.4);
        // color:white;
        @media (width<800px) {
            width: 96%;
            margin: auto;
            margin-top: 100px;
        }
        
        .top{
            color: white;
            padding: 30px;
            box-sizing: border-box;
            text-align: center;
            background-color: darkcyan;
            
            
            
            a{  
                color: white;
                text-decoration: none;
                &:hover{
                    text-decoration: underline;
                    transform: scale(1.2);
                }
                
            }

                
            hr{
                width: 96%;
                margin-top: 0;
            }
            .online-presence{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-evenly;
            }
        }
        
        .bottom{
            display: flex;
            @media (width<800px) {
                flex-direction: column-reverse;
            }

            .left{
                width: 30%;
                @media (width<800px) {
                    width: 100%;
                }
                .skills{
                    
                    padding: 20px;
                    #skill{
                        display: inline-block;
                        color: white;
                        padding: 2px 8px;
                        background-color: darkcyan;
                        border: none;
                        border-radius: 5px;
                        margin: 2px;
                        
                    }

                }
                
                .certificates{
                    padding: 20px;
                    text-align: justify;
                    div{
                        >a{
                            
                            color:black;
                            text-decoration: none;
                        }
                        &:hover{
                            color: darkcyan;
                            text-decoration: underline;
                        }
                    }
                }
                
                .publication{
                    padding: 20px;
                    >div>a{
                        color:darkcyan;
                        text-decoration: none;
                        
                    }
                }
            }
            .right{
                width: 70%;
                background-color: rgb(228, 228, 228);
                
                @media (width<800px) {
                    width: 100%;
                }
                .experience 
                {
                    padding: 20px;
                    .exp-content{
                        margin: 8px 10px;

                    .flex{
                        justify-content: space-between;
                        border-bottom: 1px solid black;
                        margin-bottom: 8px;
                    }
                    .exp-description{
                        padding: 0 10px;
                        text-align: justify;
                    }
                    .title{
                        font-weight: bold;
                        color: darkcyan;
                    }
                }
                }
                .project{
                    padding: 0px 20px;
                    >div{
                        margin: 3px auto;
                    }

                    div:nth-child(1){
                        color: darkcyan;
                        font-size: large;
                        font-weight: bold;
                        border-bottom: 2px solid darkcyan;
                    }
                }
                .education{
                    padding: 0px 20px;
                    margin-bottom: 20px;
                    >div>div:nth-child(1){
                        color:darkcyan;
                        font-weight: bold;
                        margin-top: 6px;
                    }
                }    
            }
        }   
    }
}


.resume-dark{
    display: flex;
    justify-content: center;
    overflow-y: scroll;
    background-image: url('https://cdn.pixabay.com/photo/2016/07/30/20/52/vintage-1557993_1280.jpg');
    // font-size: xx-small;
    background-attachment: fixed;
    background-color: rgb(88, 88, 88);
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
    color:rgb(185, 185, 185);
    
    
    @media (width<1000px) {
        font-size: medium;
        
    }
    .container{
        position: relative;
        background-color:rgba(0, 0, 0, 0.504);
        // background-color:rgb(71, 71, 71);
        margin: 100px;
        
        max-width: 1000px;
        // border: none;
        @media (width<800px) {
            width: 96%;
            margin: auto;
            margin-top: 100px;
        }
        

        .top{
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: rgb(13, 63, 73);

                    
            a{  
                color: white;
                text-decoration: none;
                &:hover{
                    text-decoration: underline;
                    transform: scale(1.2);
                }
                
            }
            
            
            hr{
                width: 0%;
                margin-top: 0;
            }
            .online-presence{
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-evenly;
            }
            
        }
        
        .bottom{
            color: rgba(0, 217, 255, 0.796);
            text-align: justify;
            margin: 0px 20px;
            margin-bottom: 20px;
            display: flex;
            @media (width<800px) {
                flex-direction: column-reverse;
            }

            .left{
                padding: 10px;
                width: 30%;
                @media (width<800px) {
                    width: 100%;
                }
                .skills{
                    
                    padding: 10px;
                    #skill{
                        display: inline-block;
                        color: rgb(214, 249, 251);
                        padding: 2px 8px;
                        background-color: darkcyan;
                        border: none;
                        border-radius: 5px;
                        margin: 2px;

                    } 
                }
                .certificates a{
                    color: rgba(0, 217, 255, 0.799);
                    text-decoration: none;
                    &:hover{
                        text-decoration: underline;
                        
                    }
                }

               
            }
            
            .right{
                width: 70%;
                margin: 10px;
                padding: 10px;
                border-left: 1px solid rgba(255, 255, 255, 0.442);
                @media (width<800px) {
                    width: 100%;
                    border: none;
                }
                .experience{    
                    padding: 10px;
                    .exp-content{
                        margin: 8px 10px;

                    .flex{
                        justify-content: space-between;
                        border-bottom: 1px solid rgb(211, 241, 255);
                        margin-bottom: 8px;
                    }
                    .exp-description{
                        padding: 0 10px;
                        text-align: justify;
                    }
                    .title{
                        font-weight: bold;
                        color: rgb(184, 254, 254);
                    }
                }
                    
                }
                .project{
                    padding: 10px;
                    >div{
                        margin: 3px auto;
                    }

                    div:nth-child(1){
                        color: rgb(187, 255, 255);
                        font-size: large;
                        font-weight: bold;
                        border-bottom: 1px solid rgb(217, 255, 255);
                    }
                    
                }
                .education{
                    padding: 10px;
                    margin-bottom: 20px;
                    >div>div:nth-child(1){
                        color:rgb(197, 255, 255);
                        font-weight: bold;
                        margin-top: 6px;
                    }

                }
            }
        }

    }
}