.project-title{
    color:blue;
    font-weight: bold;
}


.resume-part{
    display: flex;
    justify-content: center;
    overflow-y: scroll;
    min-height: 100vh;
    // background-color:rgb(83, 83, 83);
    font-size: 9.8px;
    // font-size: xx-small;

    .float{
        display: flex;
        justify-content: center;
        align-items: center;
        position:fixed;
        width:40px;
        height:40px;
        z-index:100;
        bottom:40px;
        right:40px;
        background-color:rgb(5, 5, 159);
        border-radius:50px;
        text-align:center;
        box-shadow: 1px 1px 5px #05e2ff;
    }
    
    
    
    a{
        color: black;
        text-decoration: none;
        &:hover{
            text-decoration: underline;
            transform: scale(1.2);
        }
        

        
    }
    p{
        margin: 1px auto;
    }
    
    @media (width<1000px) {
        font-size: medium;
    
    }
    
    .container{
        position: relative;
        background-color:white;
        // margin: 5px 10px 30px 100px;
        // color: cyan;
        margin-top: 5px;
        max-width: 560px;
        min-height: 95vh;
        box-shadow: 5px 51px 55px rgb(0, 153, 255,0.4);
        // color:white;
        @media (width<800px) {
            width: 96%;
            margin: auto;
        }

        .top{
            box-sizing: border-box;
            hr{
                width: 96%;
            }
            
            
            h1{
            text-align: center;
            }
        .uls{
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            margin: 0px;
            @media (width<450px) {
                flex-direction: column;
            }
        }
        li{
            
            list-style-type: none;
            margin: 0px 3px;
            
            
        }

           
        }
        
        .bottom{
            display: flex;
            
            @media (width<1000px) {
                flex-direction: column-reverse;
            }
                
            .left{
                // border: 1px solid red;
                width: 40%;
                
                @media (width<1000px) {
                width: 90%;
                margin: auto;
                
            }
            }
            .right{
                width: 60%;
                
                @media (width<1000px) {
                width: 90%;
                margin: auto;
                
            }
            }
            .left>div{
                text-align: justify;
                margin: 5px 5px 5px 15px;
            }
            
            .right>div{
                text-align: justify;
                margin: 5px 15px 5px 15px;
                
            }
            

        }

    }
}