#Canvas{
    background: transparent;
    position: absolute;
    /* height: 100%; */
    bottom: 0;
    /* width: 40%; */
    right: 0;
    z-index: 200;
   }
  
  #image1{
      display: none;
      /* position: absolute;
      right: 0; */
  }

